<div class='switch-to-monthly-plan-container'>
  <div class='row'>
    <h1>Are you sure you want to switch to a Monthly Plan?</h1>
    <p>Montly billing will start after your Annual Plan ends on XX/XX/XXXX.</p>
    <p>You will no longer be saving 20% off your subscription.</p>
  </div>

  <button type='reset' class='keep-annual-plan btn'>Keep Annual Plan</button>

  <button type='submit' class='switch-to-monthly-plan btn'>Switch to Monthly</button>
</div>
