#landing {
  margin-top: 4em;
}

#landing a {
  color: #fff;
}

#landing p {
  font-size: 14.5px;
  line-height: 22px;
  color: #222;
}

@media (min-width: 768px) {
  #landing {
    margin-top: 0;
  }
}
