<div class="control-group">
  <div class="controls">

    <button
      id="savePayment"
      class="btn btn-large btn-primary text-right"
      disabled
    >
      {{t "CONTINUE-TO-REVIEW"}}
      <i class="icon-circle-arrow-right"></i>
    </button>

  </div>
</div>