#membershipItem {
  .plan {
    display: flex;
    flex-direction: row-reverse;

    input {
      &[type="checkbox"],
      &[type="radio"] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
      }
    }

    label {
      margin: 0;
      padding: 0 15px;
      .h4 {
        margin: 0;
        white-space: nowrap;
      }
    }

    del {
      color: transparent;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        border-top: 2px solid #8a1d1d;
        position: absolute;
        top: 50%;
        left: 3px;
        width: 100%;
      }
      span {
        color: #000;
        margin-left: 0.25em;
      }
    }
  }
}
