#signedIn {
    h4 {
        color: #720000;
    }
    .btn {
        display: inline-block;
        font-size: 14px;
    }
    strong {
        text-transform: uppercase;
    }
    #changeToAnnual {
        font-size: 15.5px;
        font-weight: 400;
    }
    #renewMembership {
        font-size: 15.5px;
        font-weight: 400;
    }
    #giveGift {
        font-size: 15.5px;
        font-weight: 400;
    }
}