<div class="col-md-5">
  <h1>{{t "ACORNTV-CHECKOUT"}}</h1>
  <h2>{{t "BILLING-INFORMATION"}}</h2>
  <p>{{t "MAKE-PURCHASE"}}</p>
</div>

<div class="col-md-1"></div>

<div class="col-md-2">
  <img
    src="{{SecurePaymentPoseredStripePng}}"
    alt="Secure payments powered by Stripe"
    width="110"
  />
</div>