{{!log this level="error"}}
<div class="update-credit-card">

  <h1>{{t "UPDATE-CREDIT-CARD"}}</h1>

  <div id="billing-container">
    <div id="confirm-billing">
      <h4>{{t "CURRENT-CREDIT-CARD"}}</h4>
      <div id="billing-info">
        <div class="item">
          <div class="content">
            <div class="super-short-title pull-right"></div>
            <div class="super-title"></div>
            <div class="super-title"></div>
            <div class="super-title"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="stripe-form" class="update-cc"></div>

  </div>
</div>

