#stunning {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 56px;
  left: 0;
  background-color: #cbcbcb;
  #stunning-form {
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
    // font-family: futura-pt, sans-serif;
    font-family: "Oxygen", sans-serif;
    position: fixed;
    top: 56px;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

    z-index: 100;
  }
}
#account {
  button {
    &.go-to-membership {
      position: fixed;
      right: 2%;
      bottom: 5%;
      z-index: 150;
    }
  }
}
