# Whether we are using a production or development environment
NODE_ENV=production

# Current Web environment `dev3.`acorn.tv
ENVIRONMENT=

# Current RLJE API - `dev3-`api.rlje.net
RLJE_API_ENVIRONMENT=

# Current Servlet - account`-dev3`.acorn.tv
API_ENVIRONMENT=

# reCaptcha keys
CAPTCHA_V3_KEY=
CAPTCHA_V2_KEY=