<h3 class="formhead">{{t "CODE-TO-APPLY"}}</h3>

<div class="row">

  <div class="control-group">
    <label for="code" class="control-label">
      {{t "APPLIED-TO-ACCOUNT"}}
    </label>

    <div class="controls">
      <span id="codeName">{{promoCode}}</span>
    </div>
  </div>

</div>