/* NAVBAR */
.atv-logo {
  width: 154px;
  margin-top: 16px;
  margin-left: 11px;
}
.navbar {
  background: #161616;
  border: none;
  height: 56px;
  /* box-shadow: 0 0 10px -5px #050505;
  -moz-box-shadow: 0 0 10px -5px #000000;
  -webkit-box-shadow: 0 0 10px -5px #050505; */
}
.navbar-nav {
  padding: 0px 0px 0px 20px;
}
.navbar-nav > li > a {
  padding-top: 27px;
  font-family: futura-pt, sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
}
.nav > li > a:hover {
  background: none;
}
.nav > li > a:focus {
  background: transparent;
}
.navbar-collapse {
  margin-top: 5px;
  box-shadow: none;
  padding-left: 0px;
}
.navbar-toggle {
  display: block;
  margin-top: 14px;
  float: left;
  margin-right: -10px;
}
.navbar-right {
  display: block;
  position: relative;
  float: right;
  margin-right: 0px;
}
.navbar-right-ul {
  float: right;
  width: 150px;
  margin-top: 0px;
}
.navbar-toggle .icon-bar {
  border-radius: 0;
  width: 15px;
  height: 1px;
}
.log-in {
  color: #fff;
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-size: 10.3px;
  font-weight: normal;
  letter-spacing: 0.17em;
  margin-top: 20px;
  text-transform: uppercase;
  margin-right: 0px;
  margin-left: 10px;
}
.free-month {
  color: #fff;
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-size: 13.8px;
  font-weight: normal;
  letter-spacing: 0.17em;
  margin-top: 15px;
  text-transform: uppercase;
  padding: 12px;
  background: rgba(11, 152, 184, 0.85) none repeat scroll 0 0;
  margin-left: 8px;
}
#signup {
  margin-bottom: 0px;
}

/* ACORN REBRANDING 2019-08-15 */
.navbar {
  background: #0b1733;
  box-shadow: 0 0 30px -5px #0A132A;
}

/* DROPDOWN */
.accountIcon {
  margin-left: 5px;
}
.menuOptions > span,
.subnav > li {
  -moz-user-select: none;
}
.accountOptions {
  vertical-align: middle;
}
#clicker {
  padding: 0;
}
.menuOptions {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.05em;
  padding: 19px 15px;
  text-transform: uppercase;
  width: 100%;
}
.menuOptions > span,
.subnav > li {
  -moz-user-select: none;
}
.menuOptions #clicker {
  border: 0 none;
  float: none;
  margin: 0;
}
.drop-select {
  background: rgba(9, 9, 9, 0.9) none repeat scroll 0 0;
  border-top: medium none;
  display: none;
  margin: 0 0 100%;
  padding: 10px 0;
  position: relative;
  width: 160px;
  margin-left: -30px;
}
.drop-select li {
  color: #fff;
  font-family: futura-pt, sans-serif;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.1em;
  /* padding: 18px 15px; */
  text-align: left;
  text-transform: uppercase;
  list-style: none;
}
.drop-select li:hover {
  background: #191919 none repeat scroll 0 0;
}
.drop-select li a {
  color: #fff;
  padding: 25px 30px;
  display: inline-block;
}
.navbar-right-ul.accountUser {
  /* max-width: 155px; */
}
.navbar-right-ul.accountUser > li {
  text-align: right;
  width: 100%;
}
.navbar-collapse .menuOptions {
  min-width: 200px;
  padding: 15px;
}
.navbar-collapse .drop-select {
  min-width: 190px;
  width: 100%;
}
.accountOptions {
  vertical-align: middle;
}
.accountIcon {
  margin-left: 5px;
}

/* ACORN REBRANDING 2019-08-15 */
.drop-select {
  background: #0b1733;
}
.drop-select li:hover {
  background: #008989;
}

@media (min-width: 768px) {
  /* NAVBAR */
  .navbar {
    height: 75px;
  }
  .navbar-nav > li > a {
    font-size: 1.6rem;
  }
  .atv-logo {
    width: 215px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .navbar-collapse {
    margin-top: 13px;
  }
  .navbar-right-ul {
    width: 265px;
  }
  .navbar-toggle {
    margin-top: 22px;
    margin-right: 0px;
  }
  .navbar-toggle .icon-bar {
    width: 22px;
    height: 1.7px;
  }
  .log-in {
    font-size: 13.8px;
    margin-top: 27px;
    margin-left: 20px;
  }

  /* DROPDOWN */
  .drop-select {
    width: 220px;
    margin-left: 0px;
  }
  #cover {
    margin: 15px 0 0 5px;
  }
  .menuOptions {
    padding: 10px 15px;
  }
  .menuOptions,
  .navbar-collapse .menuOptions {
    font-size: 13.8px;
    padding: 27px 0 0;
    text-align: center;
    width: 190px;
  }
  .drop-select {
    left: -15px;
    top: 26px;
  }
  .drop-select li {
    font-size: 12.5px;
    /* padding: 25px 30px; */
  }
}

@media all and (min-width: 1150px) {
  /* NAVBAR */
  .navbar-toggle {
    display: none;
  }
  .navbar-collapse {
    margin: 0px;
  }
  #store-link {
    display: none;
  }
}

@media (min-width: 1300px) {
  #store-link {
    display: block;
  }
}

@media (max-width: 1150px) {
  /* NAVBAR */
  .navbar-toggle .icon-bar {
    background: #fff none repeat scroll 0 0;
  }
  .navbar-header {
    float: none;
  }
  .nav > li {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    padding-left: 15px;
    padding-top: 8px;
    border-top: thin solid #141414;
  }
  .navbar-collapse {
    border-top: none;
    background: #0b0b0b none repeat scroll 0 0;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 0 -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
  }

  /* NAVBAR-SLIDEOUT */
  .collapsing {
    overflow: hidden !important;
  }
  .side-collapse-container {
    width: 100%;
    position: relative;
    left: 0;
    transition: left 0.4s;
  }
  .side-collapse-container.out {
    right: 320px;
  }
  .side-collapse {
    top: 60px;
    bottom: 0;
    left: 0px;
    width: 290px;
    position: fixed;
    overflow: hidden;
    transition: width 0.4s;
  }
  .side-collapse.in {
    width: 0;
  }
}

@media (max-width: 768px) {
  /* NAVBAR-SLIDEOUT */
  .side-collapse {
    top: 51px;
    right: -15px;
  }
}
