<div class="give store container">
  {{! <div id="give-details-section" class="row"></div>
  <div id="give-subscribe-sign-in-section" class="row"></div>
  <div id="gift-item-section" class="row"></div>
  <div id="membershipItem" class="row"></div>
  <div id="checkout-section" class="row"></div>
  <p class="legal"></p> }}
</div>