#account {
  .tabs {
    margin-bottom: 5rem;
  }
  margin-top: 56px;
  padding: 20px 0 60px;
  background: #fff none repeat scroll 0 0;
  h1 {
    color: #0b1733;
    font-family: futura-pt, sans-serif;
    font-size: 3.5rem;
    line-height: 3.7rem;
    margin-bottom: 0;
  }
  p {
    color: #0b1733;
    font-family: futura-pt, sans-serif;
    font-size: 1.75rem;
    line-height: 2.9rem;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 6px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0px;
  }
  .radio {
    input[type="radio"] {
      margin-left: 55px;
      position: absolute;
      -webkit-appearance: checkbox;
    }
  }
  button {
    background: #0b98b8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.08em;
    margin: 5px auto 0;
    padding: 9px 13px;
    text-shadow: none;
    text-transform: uppercase;
    background: #008989;
    &:hover {
      background: #0b1733;
    }
  }
  label {
    font-size: 12.5px;
    margin-top: 10px;
    text-align: left;
  }
  .formhead {
    color: #0b1733;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    position: relative;
  }
}
.radio-inline {
  input[type="radio"] {
    margin-left: 55px;
    position: absolute;
    -webkit-appearance: checkbox;
  }
}
.checkbox {
  input[type="checkbox"] {
    margin-left: 55px;
    position: absolute;
    -webkit-appearance: checkbox;
  }
}
.checkbox-inline {
  input[type="checkbox"] {
    margin-left: 55px;
    position: absolute;
    -webkit-appearance: checkbox;
  }
}
.switch-to-monthly {
  color: #615c5c;
  font-size: 1.6rem;
  line-height: 4rem;
  text-decoration: underline !important;
}
@media (min-width: 768px) {
  #account {
    margin-top: 0;
    padding: 80px 0 100px;
    h1 {
      font-size: 3.25rem;
    }
    p {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    label {
      font-size: 14px;
      margin-top: 15px;
    }
    button {
      font-size: 11.5px;
    }
    .formhead {
      font-size: 3.25rem;
      position: relative;
      text-align: left;
    }
    .radio {
      input[type="radio"] {
        margin-left: 40px;
        position: absolute;
      }
    }
  }
  .radio-inline {
    input[type="radio"] {
      margin-left: 40px;
      position: absolute;
    }
  }
  .checkbox {
    input[type="checkbox"] {
      margin-left: 40px;
      position: absolute;
    }
  }
  .checkbox-inline {
    input[type="checkbox"] {
      margin-left: 40px;
      position: absolute;
    }
  }
}
