<h3 class="formhead">Account Status</h3>
<div class="row-fluid">

  <div class="col-md-8">
    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Membership Type</div>
      <div id="membershipTypeFieldField" class="field-value pull-left">
      <% if (membership.PromoCode && membership.PromoCode == '1 Free Year') { %>
        GIFT
      <% } else if (membership.Type == 'PREMIUM') { %>
        Standard
      <% } else { %>
        <%= membership.Type %>
      <% } %>
      </div>
    </div>

    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Membership Status</div>
      <div id="membershipStatusField" class="field-value pull-left"><%= membership.Status %></div>
    </div>

    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Membership Term</div>
      <div id="membershipTermField" class="field-value pull-left">
        <% if (membership.Term == 'MONTH') { %>
          Monthly
        <% } else { %>
          <%= membership.Term %>
        <% } %>
      </div>
    </div>

    <% if (membership.CancelDate) { %>
    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Cancellation Date</div>
      <div id="membershipCancelationField" class="field-value pull-left"><%= membership.CancelDate %></div>
    </div>

    <% if (membership.ExpirationDate) { %>
    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Expiration Date</div>
      <div id="membershipExpirationField" class="field-value pull-left"><%= membership.ExpirationDate %></div>
    </div>
    <% } %>

    <% } else { %>

    <% if (membership.ExpirationDate) { %>
    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Expiration Date<</div>
      <div id="membershipExpirationField" class="field-value pull-left"><%= membership.ExpirationDate %></div>
    </div>
    <% } %>

    <% if (membership.NextBillingDate) { %>
    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Next Billing Date</div>
      <div id="nextBilingDateField" class="field-value pull-left"><%= membership.NextBillingDate %></div>
    </div>
    <% } %>

    <% if (membership.NextBillingAmount) { %>
    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Subscription</div>
      <div id="subscriptionAmountField" class="field-value pull-left"><%= membership.formattedSubscriptionAmount %></div>
    </div>

    <% if (membership.PromoCode) { %>
    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Code Applied</div>
      <div id="promoCodeField" class="field-value pull-left"><%= membership.PromoCode %></div>
    </div>
    <% } %>

    <div class="field-wrap clearfix">
      <div class="field-label pull-left">Amount to be charged</div>
      <div id="nextBillingAmountField" class="field-value pull-left"><%= membership.amountToBeCharged %></div>
    </div>
    <% } %>

    <% } %>
  </div>
  <div class="col-md-4">
    <!--<a href="/renew.html" class="btn btn-block"><i class="icon-repeat"></i> Renew Membership</a>-->
    <!--<a href="/buy.html" class="btn btn-block"><i class="icon-circle-arrow-right"></i> Buy Membership</a>-->
  </div>
</div>
