.order-summary {
  th {
    font-size: 0.9em;
    font-weight: 400;
  }

  td {
    font-size: 0.9em;
    &.price {
      del {
        color: transparent;
        margin-left: 0.25em;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          border-top: 2px solid #ba1d1d;
          position: absolute;
          top: 50%;
          left: 2px;
          width: 100%;
        }
        span {
          color: #000;
        }
      }
    }
  }

  #updateOrder {
    font-weight: 400;
  }
}
