.order-summary {
  th {
    font-size: 0.9em;
    font-weight: 400;
  }

  td {
    font-size: 0.9em;
    &.price {
      del {
        color: red;
        margin-left: 0.25em;
        span {
          color: #000;
        }
      }
    }
  }

  #updateOrder {
    font-weight: 400;
  }
}
