/* NAVBAR */
.atv-logo {
  width: 145px;
  margin-top: 15px;
  margin-left: 5px;
}

.navbar {
  background: #053E3A;
  border: none;
  box-shadow: 0 0 30px -5px #0a132a;
  height: 56px;
  margin-bottom: 0;

  .navbar-right-ul {
    float: right;
    list-style: none;
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    width: auto;

    .navbar-right {
      display: block;
      float: right;
      margin-right: 0px;
      position: relative;

      &.sign-up {
        display: none;
      }

      .log-in {
        color: #fff;
        display: inline-block;
        // font-family: futura-pt, sans-serif;
        // font-family: "Oxygen", sans-serif;
        font-family: "source sans pro", sans-serif;
        font-size: 10.3px;
        font-weight: 400;
        letter-spacing: 0.17em;
        margin: 20px 0 20px 8px;
        text-transform: uppercase;
      }

      .free-month {
        display: inline-block;
        // font-family: futura-pt, sans-serif;
        // font-family: "Oxygen", sans-serif;
        font-family: "source sans pro", sans-serif;
        font-size: 13.8px;
        font-weight: 400;
        letter-spacing: 0.17em;
        margin-top: 15px;
        text-transform: uppercase;
        padding: 12px;
        margin-left: 8px;
        background: #EEF0E9;
        color: #000;
      }
    }
  }

  .navbar-header {
    height: 75px;

    .navbar-toggle {
      display: block;
      margin: 23px 0;
      float: left;

      .icon-bar {
        background: #fff none repeat scroll 0 0;
        border-radius: 0;
        width: 15px;
        height: 1px;
      }
    }
  }

  .navbar-collapse {
    background: #053E3A;
    left: 0;
    max-height: fit-content;
    position: absolute;
    top: 56px;
    width: 290px;

    .navbar-nav {
      margin: 0;
      padding: 0px 0px 0px 20px;

      li {
        border-top: thin solid #141414;
        display: inline-block;
        width: 100%;

        a {
          color: #fff;
          font-family: "source sans pro", sans-serif;
          font-weight: 700;
          font-size: 1rem;
          font-style: normal;
          float: left;
          letter-spacing: 0.225rem;
          padding: 27px 15px 27px;
          // font-family: futura-pt, sans-serif;
          // font-family: "Oxygen", sans-serif;
          text-transform: uppercase;

          a:hover {
            background: none;
          }

          a:focus {
            background: transparent;
          }
        }
      }
    }
  }
}

/* ACORN REBRANDING 2019-08-15 */
// .navbar {
//   background: #0b1733;
//   box-shadow: 0 0 30px -5px #0a132a;
// }

.navbar-right-ul.accountUser > li {
  text-align: right;
  width: 100%;
}

@media (max-width: 475px) {
  .navbar {
    .navbar-right-ul {
      .navbar-right {
        .agc {
          // text-overflow: ellipsis;
          // display: inline-block;
          // max-width: 70%;
          // width: auto;
          // white-space: nowrap;
          // overflow: hidden;
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  /* NAVBAR */
  .navbar {
    height: 75px;

    .navbar-right-ul {
      .navbar-right {
        .log-in {
          font-size: 1.4rem;
          margin: 27px 0 27px 12px;
        }
      }
    }

    .navbar-header {
      .atv-logo {
        width: 215px;
        margin-top: 20px;
        margin-left: 0px;
      }

      .navbar-toggle {
        margin: 31px 0;
        .icon-bar {
          width: 22px;
          height: 1.7px;
        }
      }
    }

    .navbar-collapse.collapse {
      display: none !important;
      top: 75px;
      left: 0;
      width: 290px;
    }
    .navbar-collapse.collapse.in {
      display: inline-block !important;
    }
  }
}

@media all and (min-width: 992px) {
  .navbar {
    .navbar-right-ul {
      .navbar-right {
        &.sign-up {
          display: inline-block;
        }
        .log-in {
          font-size: 1.4rem;
          margin: 29px 0 24px 12px;
        }
      }
    }

    .navbar-header {
      .navbar-toggle {
        display: none;
      }
    }

    .navbar-collapse.collapse {
      display: inline-block !important;
      width: auto;
      top: 0;
      left: 280px;
      .navbar-nav {
        li {
          width: auto;
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1300px) {
  /* NAVBAR */
  .navbar {
    .navbar-right-ul {
      .navbar-right {
        .log-in {
          margin: 30px 0 24px 12px;
        }
      }
    }

    .narvar-header {
      .navbar-toggle {
        display: none;
      }
    }
  }
}

@media (min-width: 1300px) {
  .navbar {
    .navbar-collapse.collapse {
      position: relative;
      left: 0;
    }
  }
}

@media (max-width: 768px) {
  .narbar {
    .navbar-right-ul {
      .log-in {
        font-size: 1.35rem;
        margin-top: 27px;
        margin-left: 20px;
      }
    }
  }
}
