<h4>Confirm your billing info</h4>
<div id="billing-info">
  <a href="#" class="cc-edit">Edit</a>
  <div class="cc-number">****{{stripeCardInfo.last4}}</div>
  <div class="cc-nameoncard">{{Customer.Name}}</div>
  <div class="cc-expiration">Exp: {{fullCardExpiry}}</div>
</div>
