#account .switch-to-annual-plan-container {
  #confirm-billing {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;

    h4 {
      color: #b4b4b4;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    #billing-info {
      background: #464646;
      border-radius: 3px;
      text-align: left;
      padding: 1.5rem 2rem;
      position: relative;
      width: 40rem;

      a {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        color: #fff;
        text-decoration: underline;
      }

      .cc-number {
        padding-bottom: 1rem;
      }
    }
  }
}
