{{! <\% if ( _.size( plans.currencies() ) > 1 ) { %> }}
<section class="currency">
  <label for="currency-select" class="control-label">
    <strong>{{t "CURRENCY"}}</strong>
  </label>
  <select name="currency_select" id="currency-select">
    {{{optionEls}}}
  </select>
</section>
{{! <\% } %> }}