<div class="membership store container">
  <article class="giveDetails"></article>
  <aside id="signUpForm" class="sign-in"></aside>
  <div id="membership-options">
    <div id="membership-info-gift" class="order-item flex-display"></div>
    <div id="membership-info-promo" class="order-item flex-display"></div>
    <div id="membershipItem" class="order-item"></div>
    <div class="order-item gift-item slim"></div>
    <div class="order-item checkout"></div>
  </div>
  <div class="legal"></div>
</div>