<div class='group'>
  <div class='item'>
    <label>Name on Card</label>
    <input
      type='text'
      class='form-control'
      id='nameoncard'
      name='nameoncard'
      placeholder='NAME'
    />
  </div>
  <div class='item'>
    <label>Card Number</label>
    <div id='card-number' class='card-field'></div>
  </div>
  <div class='inline-item'>
    <div class='subitem'>
      <label>Expiration</label>
      <div id='card-expiry' class='card-field'></div>
    </div>
    <div class='subitem'>
      <label>CVC</label>
      <div id='card-cvc' class='card-field'></div>
    </div>
    <div class='subitem'>
      <label>Zip Code</label>
      <input
        type='text'
        class='form-control'
        id='card-zipcode'
        name='card-zipcode'
        placeholder='90210'
      />
    </div>
  </div>
</div>
<div class='buttons'>
  <button type='reset'>Cancel</button>
  <button type='submit'>Save</button>
</div>
