#account .switch-to-annual-plan-container #stripe-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0;
  width: 40rem;
}

#account .switch-to-annual-plan-container #stripe-form {
  margin: 0 0 2rem;
  font-size: 1.25rem;
  font-weight: 400;
}
#account .switch-to-annual-plan-container #stripe-form label {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

#account .switch-to-annual-plan-container #stripe-form .card-field {
  /* width: 40rem; */
  height: 3.3rem;
  background: #fff;
  border-radius: 3px;
  padding: 0.7rem 0.5rem;
}

#account .switch-to-annual-plan-container #stripe-form .card-field input {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  color: #464646;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 1.85rem;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
}
#account .switch-to-annual-plan-container #stripe-form input {
  border-radius: 3px;
  font-size: 1.75rem;
  height: 33.5px;
}

#account .switch-to-annual-plan-container #stripe-form .buttons {
  text-align: left;
  width: 100%;
  display: inline;
  margin-top: 2rem;
}
#account .switch-to-annual-plan-container .buttons button {
  width: auto;
  padding: 0.5rem 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 7.5rem;
}
#account .switch-to-annual-plan-container .buttons button[type="reset"] {
  background: transparent;
  border: 1px solid #ffffff;
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.09);
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}
#account .switch-to-annual-plan-container .buttons button[type="submit"] {
  border: 1px solid #3a8788;
}

.group {
  width: 100%;
}

.item {
  flex-flow: row nowrap;
}

.inline-item {
  flex-flow: row nowrap;
  justify-content: space-between;
  display: flex;
}

.subitem {
  width: 31.5%;
}
