{{! <div id="membership-info-gift" class="order-item flex-display"> }}
<div class="col-md-7">
  <h3 class="item-name">{{t "GIFT-CODE"}}</h3>
  <p>{{t "APPLY-GIFT-CODE-HERE"}}</p>
</div>
<div class="col-md-5 text-right" id="apply-gift-code">
  <div class="form-group">
    <button type="button" class="btn btn-primary pull-right">
      {{t "APPLY-CODE"}}
    </button>
  </div>
</div>
{{! </div> }}