<div id="membership-info-gift" class="order-item flex-display">
  <div class="col-md-7">
    <h3 class="item-name">Gift Code</h3>
    <p>Have a Gift Code? Click the 'Apply Code' button to enter your code.</p>
  </div>
  <div class="col-md-5 text-right" id="apply-gift-code">
    <div class="form-group">
      <button type="button" class="btn btn-primary pull-right">
        {{t "APPLY-CODE"}}
      </button>
    </div>
  </div>
</div>