#apply-promo-code-form {
  #promo-code {
    width: 55%;
    margin-right: 1em;
    height: 3em;
    border-radius: 0;
  }

  #promo-clear {
    position: absolute;

    i {
      &.fa {
        color: #000;
        position: absolute;
        right: 22px;
        top: 5px;
        &:hover {
          cursor: pointer;
        }
        &.fa-2x {
          font-size: 2em;
        }
        &.fa-times-thin:before {
          content: "\d7";
        }
      }
    }
  }

  .promo-message {
    border-radius: 2px;
    font-weight: 700;
    padding: 0.25em;
    margin-top: 0.5em;
    width: 77.5%;

    &.success {
      border: 2px solid #082;
      border-radius: 2px;
      color: #082;
    }

    &.error {
      border: 2px solid #ca081a;
      border-radius: 2px;
      color: #ca081a;
    }
  }
}

@media (max-width: 768px) {
  #apply-promo-code-form {
    #promo-code {
      width: 100%;
      margin-bottom: 0.5em;
    }

    #promo-clear {
      i.fa {
        right: -86px;
        top: -44px;
      }
    }

    .promo-message {
      width: auto;
    }
  }
}
