{{! <div class="row"> }}
<article class="giveDetails">
  <h1>{{t "GIVE-ACORNTV"}}</h1>
  <h2>{{t "SHARE-BRITISH-TV-2025"}}</h2>
  <p>{{{t "GIFT-PURCHASE-ENTITLEMENT-2025"}}}</p>
</article>
{{! </div> }}