<div class="copyright">
  <p>&copy; <\%= new Date().getFullYear()%> RLJ Entertainment, Inc. <atv:il8n var="ALL-RIGHTS-SHORT"/></p>
</div>
<div class="terms-condition">
  <ul>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/terms/acorn/<%= locale %>.html">
      <atv:il8n var="TERMS-AND-CONDITIONS" /></a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/privacy/acorn/<%= locale %>.html">
      <atv:il8n var="PRIVACY-POLICY-UPPER" /></a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/cookie-policy/acorn/<%= locale %>.html">
      <atv:il8n var="COOKIE-POLICY" /></a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/caption-policy/<%= locale %>.html">
      <atv:il8n var="CAPTIONING-POLICY-UPPER" /></a>
    </li>
  </ul>
</div>
<%-- Hide language dropdown when in Great Britain --%>
<% if ( ! isGroupNameUK ) { %>
<div class="lang-select">
  <label class="atv-locale" for="atvLocale">language:</label>
  <select name="atv_locale" id="atvLocale">
    <\% _.each( langs, function( value, key, list ) { %>
      <option <\%= (key == currentLang ) ? "selected" : "" %> value="<\%= key %>"><\%= value %></option>
    <\% } ); %>
  </select>
</div>
<% } %>
