<div class="account-nav">
  <ul class="nav nav-tabs nav-stacked">
    <li id="accountStatusNav">
      <a href="#accounStatus">
        <i class="icon-chevron-right"></i>
        ACCOUNT STATUS
      </a>
    </li>
    <li id="editEmailNav">
      <a href="#editEmail">
        <i class="icon-chevron-right"></i>
        CHANGE EMAIL
      </a>
    </li>
    <li id="editPasswordNav">
      <a href="#editPassword">
        <i class="icon-chevron-right"></i>
        CHANGE PASSWORD
      </a>
    </li>
      <li id="stunningNav">
        <a href="updatecard.html?stripe_id=123451345">
          <i class="icon-chevron-right"></i>
          UPDATE BILLING INFORMATION
      </a>
    </li>
      <li id="cancelMembershipNav">
        <a href="#cancelMembership">
          <i class="icon-chevron-right"></i>
          CANCEL MEMBERSHIP
      </a>
    </li>
      <li id="applyPromoCodeNav">
        <a href="#applyPromoCode">
          <i class="icon-chevron-right"></i>
          Promo Code or Gift Code
      </a>
    </li>
  </ul>
</div>
