html {
    height: 100%;
}

body {
    // padding-top: 56px;
    color: #333;
    font-family: Oxygen, Helvetica Neue, Arial;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: inherit;
}

p {
    font-size: 15.5px;
    margin: 0 0 10px;
    font-weight: 400;
}

a {
    color: #993333;
    text-decoration: none;
    letter-spacing: .03em;
}

a:hover {
    color: #993333;
    text-decoration: none;
    opacity: .94;
}

a:focus {
    color: #993333;
    text-decoration: none;
    -moz-outline-style: none;
    outline: none;
    outline-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: inherit;
    font-family: oxygen;
    font-weight: 500;
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
    color: #933;
    font-weight: 500;
    font-size: 28px
}

h2,
.h2 {
    font-size: 27px;
    font-weight: 300;
}

h3,
.h3 {
    color: #810c0c;
    font-size: 27px;
    font-weight: 400;
}

h4,
.h4 {
    font-size: 19px;
}

h3.formhead {
    border-bottom: 2px solid #000;
    position: relative;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}