/* IMPORTS */

/* @import url('//fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'); */

/* Base */
html {height: 100%;}
body {padding-top: 56px;color: #333;font-family:Oxygen,Helvetica Neue,Arial;font-size: 14px;display: flex;flex-direction: column;height: inherit;}
p {font-size: 15.5px; margin: 0 0 10px;font-weight:400;}
a {color: #993333; text-decoration: none; letter-spacing:.03em;}
a:hover {color: #993333; text-decoration: none;opacity:.94;}
a:focus{color:#993333; text-decoration: none; -moz-outline-style: none; outline: none; outline-style: none;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color: inherit; font-family:oxygen; font-weight: 500; line-height: 1.1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
h1, .h1 {color:#933; font-weight: 500; font-size: 28px}
h2, .h2 {font-size: 27px; font-weight: 300;}
h3, .h3 {color: #810c0c; font-size: 27px;font-weight: 400;}
h4, .h4 {font-size: 19px;}
h3.formhead {border-bottom:2px solid #000; position:relative; margin-bottom:20px;}
img {max-width: 100%; height: auto;}

/* LAYOUT */
/* .page-wrap {flex: 1 0 auto;}
.container{width:96%;padding-left: 10px;padding-right: 10px;}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width:90%;padding-left: 10px;padding-right: 10px;}
p.mbr { clear:both;text-align: left;} */

/* NAVBAR */
/* .atv-logo{width:145px; margin-left:15px;margin-top: 15px;}
.navbar{width:100%;background:#161616;border:none;height:56px;box-shadow: 0 0 5px -5px #050505;-moz-box-shadow: 0 0 5px -5px #000000;-webkit-box-shadow: 0 0 5px -5px #050505;}
.navbar-nav {padding:0px 0px 0px 20px;background:#0b1733;}
.navbar .nav > li > a{padding:27px 15px 27px;font-family: 'source sans pro', sans-serif;letter-spacing: .17em;font-weight:600;text-transform:uppercase;font-size:11px;color:#fff;text-shadow: none;}
.navbar .nav > li > a:hover{background:none; color:#fff;}
.navbar .nav > li > a:focus{background:transparent;}
.navbar-collapse {margin-top:0px;box-shadow: none;padding: 0px}
.navbar-toggle {display: block;margin-top: 14px;float:left;margin-right: -10px}
.navbar-right{display: block; position: relative;float:right;margin-right:0px;}
.navbar-right-ul{float:right;text-align:right;width:100px;margin-top:0px;list-style: none;}
.navbar-toggle .icon-bar {border-radius: 0;width: 15px;height:1px;}
.log-in{color: #fff;display: inline-block;font-family: 'source sans pro',sans-serif;font-size: 10.3px;letter-spacing: 0.17em;margin-top: 22px;text-transform: uppercase;margin-right:0px;margin-left: 10px}
.log-in:hover{color: #fff;}
.free-month{color: #fff;display: inline-block;font-family: 'source sans pro',sans-serif;font-size: 13.8px;letter-spacing: 0.17em;margin-top: 15px;text-transform: uppercase;padding:12px;background:rgba(11, 152, 184, 0.85) none repeat scroll 0 0;margin-left:8px;}
.free-month:hover{color: #fff;}
.sign-up{display: none;}
.navbar-fixed-top {margin-bottom: 0;}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin-left: 0;margin-right: 0;} */

/* NAVBAR-USER DROPDOWN */
/* .navbar-right-ul {width: auto;}
.navbar-right .drop-select {position: absolute;top: 55px;right: -90px;}

.menuOptions {width: auto;padding: 20px 15px 18px;}
.menuOptions {color: #fff;cursor: pointer;display: inline-block;font-family: 'source sans pro', sans-serif;font-size: 13.8px;font-weight: 600;letter-spacing: .17em;text-transform: uppercase;padding: 10px 15px;width: 100%;}
.menuOptions > span,.subnav > li{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.menuOptions #clicker {border: 0;margin: 0;float: none;}

.drop-select {width: 220px;position: relative;border-top: medium none;background: rgba(9, 9, 9, 0.9) none repeat scroll 0 0;margin: 0 0 100%;padding: 10px 0;display: none;}
.drop-select ul{list-style: none;}
.drop-select li {padding: 18px 15px;font-family: 'source sans pro',sans-serif;list-style:none;font-size: 11px;letter-spacing: .1em;font-weight: 600;text-align: left;text-transform: uppercase;color: #fff;}
.drop-select li:hover {background:#191919;}

.navbar-right-ul .accountUser .menuOptions {max-width: 155px;}
.navbar-right-ul .accountUser .menuOptions > li{width: 100%;text-align: right;}

.accountIcon {margin-left: 5px;margin-top: 9px;}

.submit-cancel {display: flex;flex-direction: column;align-items: center;}
.submit-cancel .cancel-order {order: 2;}
.submit-cancel .submit-order {order: 1;} */

/* LANDING */
/* #landing a{color: #fff;}

#landing p{font-size: 14.5px;line-height: 22px; color:#222;} */

/* #landing-hero-mobile {background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/hero-item-mobile.jpg");background-size: cover;background-position: center;height: 350px;}
#landing-hero-mobile header {color: white;display: flex;height: 100%;flex-direction: column;align-items: center;justify-content: center;padding: 0 30px;}

#landing-hero {background: #0b0b0b;width: 100%;padding: 25px 0px 50px;}
#landing-hero a.mobile, #landing-hero-mobile a.mobile {color: inherit;}
#landing-hero button, #landing-callout button { display: inline-block;background: transparent;box-shadow: none;border: 1px solid #fff;padding: 10px 15px;text-transform: uppercase; letter-spacing: .19em; font-size: 10px;}
#landing-hero button:hover, #landing-callout button:hover{ display: inline-block;background: rgba(0, 0, 0, .23); -webkit-transition: .3s ease;-moz-transition: .3s ease;-o-transition: .3s ease;-ms-transition: .3s ease;transition: .3s ease;}
#landing-hero .mobile button, #landing-hero-mobile .mobile button { background: #ca0348;box-shadow: none;border: 0px;padding: 10px 15px;text-transform: uppercase; letter-spacing: .19em; font-size: 11px; margin: 5px 0 0 0;}
#landing-hero .mobile button:hover, #landing-hero-mobile .mobile button:hover{background: #ac033d; -webkit-transition: .3s ease;-moz-transition: .3s ease;-o-transition: .3s ease;-ms-transition: .3s ease;transition: .3s ease;}
#acorn-online {margin-top: 5px}
#landing-hero h3 {text-transform: uppercase;color:#fff;font-size: 15.5px;letter-spacing: .21em; font-weight:600; font-family: 'source sans pro'}
#landing-hero h4 {line-height: 27px;margin-top: 0px; font-size: 20px;padding:0 20px;}
#landing-hero .image {bottom: 0;height: 390px;left: 0;overflow: hidden;position: relative;right: 0;opacity: .20}
#landing-hero .first {background: rgba(0, 0, 0, 0) url("../img/hero-item-mobile.jpg") no-repeat scroll center center / cover;}
#landing-hero .second {background: rgba(0, 0, 0, 0) url("../img/hero-item2.jpg") no-repeat scroll center center / cover;}
#landing-hero .third {background: rgba(0, 0, 0, 0) url("../img/hero-item3.jpg") no-repeat scroll center center / cover;}
#landing-hero .hero-item {bottom: 45px;color: rgb(255, 255, 255);left: 0;margin: auto;position: absolute;right: 0;text-align: center;transform: translateY(-50%);-webkit-transform: -webkit-translateY (-50%);width: 100%;}
#landing-hero .container {width:100%;padding-left: 0px;padding-right: 0px;} */

/* #landing-callout {background: #191919 none repeat scroll 0 0; padding: 20px 0 30px; width: 100%}
#landing-callout h4{color:#fff;line-height: 25px}
#landing-callout p{color:#f0f0f0;} */

/* #landing-content {z-index: 2;left: 0;right: 0;margin:auto;}
#landing-content h6 {color:#8c0909;text-transform: uppercase;font-weight:600;letter-spacing: .04em}
#landing-content h4 {font-size: 19px; line-height: 24px;}
#landing-content p {margin-bottom:25px;line-height: 30px}
#landing-content .description { padding:40px 0px}
.description-bg {top: 0px;left: 0px;width: 100%;height:100%; max-height: 400px;background-color: #fff;z-index: 1;float: left;}
#landing-content .asset {padding: 60px 10px 60px 35px;}
.asset-bg {top: 0px;left: 0px;width: 100%;height:100%; max-height: 400px;background-color: #f0f0f0;z-index: 1;float: right;}
#landing-content a {border-bottom: 1px solid;color: #333;font-family: source sans pro;font-size: 13.5px;font-weight: 600;letter-spacing: 0.17em;text-transform: uppercase;}
#landing-content span {font-size: 12px; margin: 0 5px;}

#landing-gift {z-index: 2;left: 0;right: 0;margin:auto;background: #f0f0f0; border-top: 1px solid #ccc;}
#landing-gift h6 {color:#8c0909;text-transform: uppercase;font-weight:600;letter-spacing: .04em}
#landing-gift h4 {font-size: 22px;}
#landing-gift p {margin-bottom:25px;line-height: 30px}
#landing-gift .description { padding:50px 0;}
#landing-gift .asset {padding: 35px}
#landing-gift a {border-bottom: 1px solid;color: #333;font-family: source sans pro;font-size: 13.5px;font-weight: 600;letter-spacing: 0.17em;text-transform: uppercase;}
#landing-gift span {font-size: 12px; margin: 0 5px;} */



/* FOOTER */
/* footer {padding: 20px 0; color: #fff; font-size: 12px;}
footer > div {display: flex;flex-direction: column;} */

/* Remove BS 3 clearfix hack */
/* footer > div:after,
footer > div:before {content: none !important;}

footer .copyright {padding: 5px 0;}
footer .copyright {order: 3;}
footer .terms-condition {margin-top: 5px;padding: 5px 0;}
footer .terms-condition {order: 2;}
footer .lang-select {margin-top: 3px;padding: 5px 0;}
footer .lang-select {order: 1;}

footer p {font-size: 14px;margin: 0}
footer ul {padding: 0;margin: 0;font-size: 12px;}
footer li {padding: 5px 0;line-height: normal;list-style: none;}
footer ul li a {color:#fff}

#atvLocale {background: #fff;color: #555555;width: initial;margin-left: 15px;} */

/* GIFT */
/* .thanks.store.container,
.review.container,
.give.store.container {margin-top: 1.5em;}
.thanks.store.container p,
.thanks.store.container li {font-size: 1.1443em;}
.thanks.store.container li {padding: .25em 0;}
.thanks.store.container h2 {margin-top: 1.25em;}
.thanks.store .order-detail {margin-top: 3em;border-top: 0.1em solid rgba(0, 0, 0, 0.075);padding-top: 2.5em;} */

/* STRIPE */
.StripeElement {border: 1px solid #c0c0c0; border-radius: .25em; padding-left: 6px;}
.StripeElement.StripeElement--complete {border: 1px solid #28a745;}
.StripeElement.StripeElement--invalid {border: 1px solid #dc3545;}
#card-errors.help-block {color: #eb1c26;}

/* @media (min-width: 480px){
#landing-hero .image {height: 350px;opacity: .35}
} */

/* @media (min-with: 768px) and (max-with: 1400px) {
.side-collapse {top:55px;}
} */
@media (min-width: 768px){
/* .pull-right-sm {float: right;} */
/* Base */
/* body {padding-top: 75px;}
h1, .h1 {font-size: 35px}
p.mbr { clear:both;text-align: right;} */

/* NAVBAR */
/* .atv-logo {margin-left: 0;margin-top: 20px;width: 215px;}
.navbar{height:75px;}
.navbar .nav > li > a{font-size:13.8px;}
.atv-logo{width:215px;margin-left: 0px;}
.navbar-collapse {margin-top:13px;}
.navbar-right-ul{text-transform: uppercase;}
.navbar-toggle {margin-top: 22px;margin-right: 0px}
.navbar-toggle .icon-bar {width: 22px;height: 1.7px}
.log-in{font-size: 13.8px;margin-top: 27px;margin-left: 20px}
.side-collapse {top:55px;}
.accountIcon {margin-top: -5px;}
.sign-up{display: block;} */

/* NAVBAR-USER DROPDOWN */
/* .menuOptions {padding: 30px 15px 25px;text-align: right;}
.navbar-right .drop-select {top: 75px;} */

/* LANDING */
/* #landing p{font-size: 16px}
#landing-hero .first {background: rgba(0, 0, 0, 0) url("../img/hero-item1.jpg") no-repeat scroll center center / cover;}
#landing-hero .container {width:96%;padding-left: 10px;padding-right: 10px;}
#landing-hero .col-xs-12 {padding-right: 15px;padding-left: 15px;}
#landing-hero .image {height: 250px;}
#landing-hero button, #landing-callout button {font-size: 11px;}

#landing-content h4 {font-size: 22px;}
#landing-content .description { padding:60px 50px 60px 15px}
#landing-gift .description { padding:70px 20px 70px 20px;}

.description-bg {width: 50%;max-height: 430px;}
.asset-bg {width: 50%;max-height: 430px;}

#landing-callout .col-right {text-align: right}
#acorn-online{margin-top: 18px}

.submit-cancel {flex-direction: row;justify-content: space-between;}
.submit-cancel .cancel-order {order: 1;}
.submit-cancel .submit-order {order: 2;} */
}

@media all and (min-width: 992px) {

/* NAVBAR-USER DROPDOWN */
/* .menuOptions {padding: 27px 20px;}
.navbar-right .drop-select {right: -55px;}
#landing-gift .description { padding:90px 20px 70px 35px;} */

/* FOOTER */
/* footer li {display: inline-block;padding: 0;margin-right: 10px;line-height: 1.5;}
footer > div {flex-direction: row;justify-content: space-between;}
footer .copyright,
footer .terms-condition,
footer .lang-select {padding: 0;}
footer .copyright {order: 1;}
footer .terms-condition {order: 3;}
footer .lang-select {order: 2;} */
}

@media all and (min-width: 1100px) {

/* LAYOUT */
/* .container{width:92%;}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 92%;} */

/* NAVBAR-USER DROPDOWN */
/* .menuOptions {padding: 27px 5px;}
.drop-select {left: -15px;} */

/* LANDING */
/* #landing-hero .container {width:92%;} */
}

@media all and (min-width: 1400px) {

/* NAVBAR */
/* .navbar-toggle {display:none;}
.navbar-collapse {margin: 0px}
#search-button{display:none;}
#search-input{display:none;}
#search-button{display:inline;margin-left:130px;}
#search-input{display:inline; width: 130px;margin: 20px 3px 15px 0px;}
#searchform{float:right;margin-left:10px}
#store-link{display:none;} */
}

@media (min-width: 1251px) {
/* VALTIRAS ADDITIONS */
/* .menuOptions, .navbar-collapse .menuOptions {font-size: 13.8px;width: 190px;padding: 27px 0 0;text-align: center;}
.navbar-collapse.side-collapse {overflow-y: visible;}
.drop-select {top: 28px;left: -15px;}
.drop-select li {font-size: 12.5px;padding: 22px 30px;}
.navbar-collapse .drop-select {width: 190px;}
#searchform {margin-left: 1rem;} */
}


@media (min-width:1300px) {
/* #store-link{display:block;}
.description-bg {max-height: 460px;}
.asset-bg { max-height: 460px;} */
}

@media (min-width:1400px){

/* LAYOUT */
/* .container{width:1350px}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 1350px;} */

/* LANDING */
/* #landing-hero .container {width:1350px}
#landing-gift .asset {padding: 50px 70px 50px 15px;} */
}

@media (max-width: 1400px) {

/* NAVBAR */
/* .navbar-toggle .icon-bar {background: #fff none repeat scroll 0 0;}
.nav > li {border-top: thin solid #141414;float: none;}
.navbar-collapse {border-top:none; background: #0b0b0b none repeat scroll 0 0;}
.navbar-collapse.collapse {display: none !important;}
.navbar-nav {margin:0;float: none;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
.navbar-text {float: none;margin: 15px 0;}
.navbar-collapse.collapse.in {display: inline-block !important;}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {max-height: none;} */


/* NAVBAR-SLIDEOUT */
/* .collapsing {overflow: hidden;}
.side-collapse-container{width:100%;position:relative;left:0;transition:left .4s;}
.side-collapse-container.out{right:320px;}
.side-collapse {top:55px;left:15px;width:290px;position:fixed;} */
}