/* ACORN REBRANDING 2019-08-15 */
body {background: #0b1733;}
.navbar {background: #0b1733; box-shadow: 0 0 30px -5px #0A132A;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background: #0b1733;}
.nav-tabs > li > a:hover {background: #008989;}

#account button {background: #008989;}
#account button:hover {background: #0b1733;}

.drop-select {background: #0b1733;}
.drop-select li:hover {background: #008989;}
