h1,
.h1,
.highlight,
.sign-in h4,
.signedIn h4,
.recBooks h4,
.routing .order-items h2,
.billing .acorn-login strong {
    color: #720000;
}

.btn-primary {
    background-color: #008989;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover:active {
    background-color: #0b1733;
}