/* ACORN REBRANDING 2019-08-15 */
/* .navbar {background: #0b1733;box-shadow: 0 0 30px -5px #0a132a;} */

h1, .h1, .highlight, .sign-in h4, .signedIn h4, .recBooks h4, .routing .order-items h2, .billing .acorn-login strong {color: #720000;}


/* .btn-primary {background-color: #008989;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:hover:active {background-color: #0b1733;} */

/* #promo-code {width: 55%;margin-right: 1em;height: 3em;border-radius: 0;}
.promo-message {border-radius: 2px;padding: 0.25em;margin-top: .5em;width: 77%;}
.promo-message.success {border: 1px solid #082;color: #082;}
.promo-message.error {border: 1px solid #CA081A;color: #CA081A;}
.plan del {
    color: red;
}
.plan del span {
    color: #000;
    margin-left: 0.25em;
}
#promo-clear i.fa {
    color: #000;
    position: absolute;
    right: 25%;
    top: 5px;
}

.fa-times-thin:before {
    content: '\00d7';
} */

/* #landing-hero {background: #070d1b;} */

/* footer {background: #0b1733 none repeat scroll 0 0} */