/* NEW & UPDATED STYLES FOR GIVE ACORN TV */
/** GENERAL HTML UPDATES **/

th {
  text-align: left;
}

th.item-name {
  padding-top: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: 1em;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

h1 {
  color: #933;
  font-family: inherit;
  font-weight: 400;
  margin: 0 0 0.5em;
  line-height: 40px;
}

h2 {
  color: #424242;
  font-family: inherit;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0 0 1em;
  font-family: inherit;
  font-size: 1.2em;
  line-height: 25px;
}

.legal {
  margin: 1.5em 0 0;
  font-family: inherit;
  font-size: 0.9em;
  color: #424242;
  line-height: 1.75em;
  clear: both;
  padding-bottom: 20px 0px 50px;
  margin-bottom: 30px;
}

a,
a:hover {
  text-decoration: none;
}

#signInLink {
  font-size: 1.05em;
}

.page-wrap > div.home {
  padding: 0;
}

.highlight {
  color: #933 !important;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/** SITE SPECIFIC UPDATES & ADDITIONAL **/
.head {
  position: relative;
}

.update a,
.update-billing a,
.update-item a,
.print-confirmation a {
  font-size: 0.625em !important;
  text-decoration: underline;
}

p.fine {
  font-size: 0.95em;
  margin-top: -1em;
  color: #0a656f;
  color: #006570;
  border-top: 0.075em solid rgba(204, 204, 204, 0.33);
  padding-top: 0.25em;
}

.btn-primary {
  background-color: #0b98b8fc;
  border-color: transparent;
  border-radius: 0;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover:active {
  background-color: #0b7eb8;
  border-color: transparent;
  border-radius: 0;
}

.btn-success {
  background-color: #993333;
  border-color: transparent;
  border-radius: 0;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:hover:active {
  background-color: #8a221b;
  border-color: transparent;
  border-radius: 0;
}

.btn,
.btn a,
.nav a {
  text-decoration: none !important;
  padding: 10px;
}

label.qty {
  font-family: "Helvetica-Light", "Helvetica";
  font-size: 1.125em;
  color: #424242;
  line-height: 2.5em;
  padding-right: 0.75em;
}

label.mbr {
  font-size: 1.2em;
  color: #424242;
  line-height: 1.85em;
  width: 88%;
  margin-bottom: 0px;
}

select#qty {
  font-family: "Helvetica";
  font-size: 1.125em;
  color: #424242;
  line-height: 2.5em;
  height: 2.5em;
  width: auto;
}

.help-form {
  font-size: 0.6em;
  font-family: inherit;
  font-weight: normal;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1.5em;
  color: #424242;
}

.inline-form-control {
  display: inline-block;
}

.req {
  /* color: #424242; */
  font-size: 0.9em;
  font-weight: bold;
  padding-left: 5px;
}

@media screen and (min-width: 320px) {
  header nav {
    box-shadow: none;
    height: 60px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  header nav .logo {
    margin: 1.1em auto 0 15px;
    width: 175px;
  }
}

@media screen and (min-width: 768px) {
  header nav .logo {
    width: 220px;
  }

  header nav {
    height: 75px;
  }
}

@media screen and (max-width: 768px) {
  header .navButtons {
    display: none;
  }
}

header nav .lead {
  display: none;
}

header .navButtons {
  background: transparent none repeat scroll 0 0;
  box-shadow: none;
  float: right;
  font-family: "source sans pro";
  font-size: 13.5px;
  letter-spacing: 0.17em;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  padding-top: 4px;
}
header .navButtons ul {
  font-size: 1em;
  width: 20em;
}
header .navButtons ul > li {
  display: block;
  float: left;
}
header .navButtons ul > li:last-child {
  background: #810c0c none repeat scroll 0 0;
  margin-right: 0;
  margin-top: -8px;
  padding: 30px 15px;
}
header .navButtons ul li {
  margin-right: 2.3em;
  margin-top: 10px;
}
header .navButtons ul .text {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 21px;
}
header .navButtons ul a {
  color: #fff;
  text-decoration: none;
}
header .navButtons ul .btn {
  padding: 0.5em 1.6em 0.5em 1.6em;
  border: 0.55em;
  border: none;
}

@media screen and (min-width: 1024px) {
  header nav {
    box-shadow: none;
    height: 75px;
  }
  header nav .logo {
    margin-top: 20px;
    width: 220px;
    float: left !important;
  }
  header nav .lead {
    display: none;
    margin-top: 0.3em;
  }

  header .navButtons ul {
    font-size: 1em;
    width: 18em;
  }
}

/* footer {
  background: #161616 none repeat scroll 0 0;
  font-size: 1em;
  padding: 1em;
}
footer ul li a {
  color: #d3d2cf;
  font-weight: 300;
  text-decoration: none;
}
footer ul li a:hover {
  color: #d3d2cf;
  text-decoration: none;
}
footer ul li a.dark {
  color: #a8a6a1;
}
footer ul li a.dark:hover {
  color: #a8a6a1;
  text-decoration: none;
  border-bottom: 1px solid #9b9995;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 2em 1.5em;
  }
} */

.home img {
  width: 100%;
}
.home .feature {
  position: relative;
  text-align: center;
  background: #000;
  overflow: hidden;
}
.home .feature .center {
  position: relative;
  z-index: 10;
}
.home .feature .right,
.home .feature .left {
  position: absolute;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: blur(9px);
  -moz-filter: blur(9px);
  -o-filter: blur(9px);
  -ms-filter: blur(9px);
  filter: blur(9px);
  opacity: 0.25;
}
.home .feature .right {
  margin-left: -10px;
}
.home .feature .left {
  z-index: 0;
  float: left;
  /* left: -45.8em;
  left: -71%; */
  left: -66%;
}
.home .feature .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  z-index: 10;
}

@media screen and (min-width: 1024px) {
  .home .promo {
    width: 50%;
    float: left;
  }
  .home .promo {
    width: 33.33%;
    float: left;
  }
  .home .feature {
    position: relative;
  }
  .home .feature .caption {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18%;
  }
  .home .feature img {
    max-width: 78%;
  }
}
@media screen and (min-width: 1366px) and (max-height: 768px) {
  .home .feature img {
    max-width: 70%;
  }
  .home .feature .left {
    z-index: 0;
    float: left;
    left: -55%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .home .feature img {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  .home .feature img {
    /* max-width: 885px; */
    /* max-width: 80%; */
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) and (max-height: 900px) {
  .home .feature img {
    max-width: 78%;
  }
}

/* .order-item {
  overflow: hidden;
  padding: 2.5em 2.1em;
  background: #fff;
  border: 0.1em solid rgba(0, 0, 0, 0.075);
  border-top: none;
  box-sizing: border-box;
}
.order-item:first-child {
  border-radius: 0.1em 0.1em 0 0;
  border-top: 0.1em solid rgba(0, 0, 0, 0.075);
}
.order-item:last-child {
  border-radius: 0;
}

.order-item img {
  margin-left: 2.25em;
  width: 125px;
}

.order-item .price {
  color: #424242;
  font-size: 1.5em;
  line-height: 2em;
}

.order-item hr {
  border: .5px solid rgba(0, 0, 0, 0.075);
  max-width: 27em;
}

.order-item h3 {
  font-size: 1.8em;
  color: #494949;
  line-height: 1.25em;
  font-weight: lighter;
  font-weight: 400;
} */

/* .order-item.slim {
  padding: 2em 2.1em;
}
.order-item.slim img {
  max-width: 11.5em;
  margin: 0 auto;
}
.order-item.slim .span7.left p {
  line-height: 1.4em;
  margin-bottom: .4em;
}
.order-item.slim hr {
  margin-top: 0;
  margin-bottom: .6em;
}
.order-item.slim .remove {
  margin-bottom: 0;
}
.order-item.slim .price {
  margin-bottom: 0;
}
.order-item.slim .qty {
  font-size: 1.4em;
  margin-bottom: .7em;
  padding-right: 0;
} */
/* .order-item.gift-item {
  justify-content: center;
  align-items: center;
}
.order-item .item-price {
  margin: 15px 0;
} */

.order-total {
  padding: 2.5em 2.1em;
  border: 0.1em solid rgba(0, 0, 0, 0.075);
  font-weight: bold;
}

.flex-display {
  display: flex;
  align-items: end;
  flex-flow: column nowrap;
}
.flex-display .form-group.has-success .form-control {
  background-color: #dff0d8;
  color: #3c763d;
}
.flex-display .form-group.has-error .form-control {
  background-color: #f2dede;
  color: #a94442;
}

@media (min-width: 768px) {
  .flex-display {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }

  /* .order-item.gift-item #quantityTotal {
    text-align: right;
  } */
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* .order-item.slim .price {
    margin-top: 1em;
  } */
}
/* Landscape phones and down */
/**  GIVE PAGE  **/
/* .give .order-items img {
  margin-left: -1.75em;
}

.giveDetails {
  margin-bottom: 2em;
}

.giveDetails img {
  float: right;
  margin-bottom: 16px;
  width: 110px;
}

section.benefits {
  margin: 1.6em 0 3em 0;
}
section.benefits h3 {
  font-size: 1.3em;
  margin-bottom: .4em;
}
section.benefits span {
  width: 92%;
  display: inline-block;
} */

/* section.memberOptIn h4 {
  margin-bottom: .4em;
}
section.memberOptIn span {
  display: block;
}
section.memberOptIn label {
  font-weight: normal;
  display: inline-block;
  font-size: .95em;
  margin-top: .7em;
}
section.memberOptIn input[type='checkbox'] {
  margin-top: -2px;
  margin-right: 7px;
  font-size: 1.3em;
}
section.memberOptIn p {
  color: #000;
  margin: 2.2em 0 0 2em;
}

.sign-in, .signedIn {
  background-color: #fbfbfb;
  border: solid #ededed 1px;
  overflow: hidden;
  padding: 1.5em 2em;
}
.sign-in aside {}
.sign-in h4, .signedIn h4 {
  color: #933;
  font-size: 1.6em;
  margin-bottom: 15px;
}
.sign-in h4 span {
  color: #000;
  font-weight: 400;
  font-size: 0.8em;
} */

/* .recBooks h4 {
  color: #933;
  font-size: 1.6em;
} */

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* @media (max-width: 480px) { */
@media (max-width: 768px) {
  /* .give .row-fluid [class*="span"]:first-child {}

  .give .order-items img {
    margin-left: 0;
    margin-bottom: 2em;
  }

  .give ul.details {
    margin-bottom: 2em;
  }

  .give select#qty {
    margin-bottom: 1.5em !important;
  } */
}
/**  ROUTING PAGE  **/
.routing .order-items .span6:first-child {
  padding-right: 7.762431%;
  margin-right: 0;
}

.routing .order-items .span6:last-child {
  border-left: 0.075em solid #ededed;
  padding-left: 7.762431%;
  margin-left: 0;
}

.routing .order-items h2 {
  color: #933;
}

.routing .btn {
  margin: 0 !important;
  float: none !important;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .routing .order-items .span6:first-child {
    padding-right: 0;
    margin-right: inherit;
  }

  .routing .order-items .span6:last-child {
    border-left: none;
    padding-left: 0;
    margin-left: inherit;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .routing .btn {
    width: 100% !important;
    margin: 0.5em 0 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
  }
}
/**  BILLING PAGE  **/
.billing .order-summary {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 2px;
  padding: 2em 2.5em;
}

.billing .order-summary h3 {
  font-weight: bold;
  font-size: 1.125em;
  margin-bottom: 0.125em;
}

.billing td.price.text-right {
  font-size: 1em;
  font-family: inherit;
  color: #424242;
}

.billing .order-summary table {
  width: 100%;
}

.order-item.billing {
  border-top: 0.45em solid rgba(0, 0, 0, 0.075);
}

.billing p.update-order {
  margin: 0.75em 0 0;
}

.billing .update-order a {
  font-size: 0.9em !important;
  text-decoration: underline;
}

.billing h3.formhead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 1.75em;
  line-height: 1.5em;
  padding-bottom: 5px;
}

.billing .order-items {
  margin-top: -1.25em;
}

.billing .acorn-login {
  margin: 1em 0 3em;
}

.billing .acorn-login strong {
  color: #933;
}

.billing .btn {
  margin: 0 !important;
  /* float: none !important; */
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .billing .order-items {
    padding: 1.5em 1.5em;
  }

  .billing .order-summary {
    margin-bottom: 2em;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .billing .order-items {
    padding: 1.5em 1.5em;
  }

  .billing .btn {
    width: 100% !important;
    margin: 0.5em 0 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
    float: none !important;
  }

  .billing .btn [class^="icon-"],
  .billing .btn [class*=" icon-"] {
    display: none;
  }
}
/**  REVIEW & THANKS PAGES  **/
/* .purchase-footer {
  padding: 20px;
}
.review .row-fluid [class*="span"]:first-child, .thanks .row-fluid [class*="span"]:first-child {
  text-align: center;
}

.review .billing-info {
  padding: 2.5em 2.1em;
  border: 0.1em solid rgba(0, 0, 0, 0.075);
}
.review .order-items img,
.thanks .order-items img {
  margin-left: 0;
}

.review .price,
.thanks .price {
  font-size: 1.125em;
  color: #424242;
}

.review .order-total,
.thanks .order-total {
  border-top: none;
}

.review .order-cancel a,
.thanks .order-cancel a {
  font-size: 1em !important;
  text-decoration: underline;
}

.review .update,
.review .update-order,
.review .update-item,
.review .update-billing,
.thanks .print-confirmation {
  font-size: .95em;
  font-weight: normal;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1.5em;
}

.review .update-billing {
  top: 1.3em;
  line-height: .6em;
  margin-bottom: 2em;
}

.review .order-item.slim img, .thanks .order-item.slim img {
  max-width: 13em;
}
.review .order-item.slim .price, .thanks .order-item.slim .price {
  margin-bottom: 1em;
}

.review .order-item.billing {
  border-top: 0.1em solid rgba(0, 0, 0, 0.075);
  border-radius: .5em;
  margin-bottom: -.6em;
} */

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  /* .review .order-items img, .thanks .order-items img {
    margin-left: 0;
    margin-bottom: 2em;
  }

  .review .text-right, .thanks .text-right {
    text-align: left !important;
  }

  .review .update, .review .update-order, .review .update-item, .review .update-billing, .thanks .print-confirmation {
    position: relative;
  } */
}
/**  REVIEW PAGE  **/
/* .review a.btn.btn-large.btn-secondary {
  margin: 0 1em;
}

.review .order-item .item {
  margin-bottom:25px;
} */

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  /* .review .btn {
    width: 100% !important;
    margin: .5em 0 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
  }

  .review .btn [class^="icon-"], .billing .btn [class*=" icon-"] {
    display: none;
  }

  .review .order-items.two {
    padding-bottom: 3em;
  } */
}
/**  THANKS PAGE  **/
/* .table {
  margin-bottom: 0;
}

.table th {
  border-top: none;
  border-bottom: 1px solid #dddddd;
  padding-bottom: .2em;
}

.table td {
  border: none;
  padding-top: .1em;
  padding-bottom: .1em;
}

.table .pad td {
  padding-top: .5em;
}

.thanks .details {
  margin-bottom: 0em;
} */

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */

/* section.currency {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

section.currency label {
  margin: 0;
  margin-right: 5px;
}

section.plan {
  display: flex;
  flex-direction: row-reverse;
}

section.plan label {
  margin: 0;
  padding: 0 15px;
}

section.plan label .h4 {
  margin: 0;
} */

/* Model Popup */
/* #applyCodeStatus a {
  font-size: initial;
} */

/* TIMELINE SPECIAL PROMOTION */
/* #special-discount {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
#special-discount ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px;
}
#special-discount ul li {
  padding: 0
}
#special-discount .accent {
  color: #be0300;
}
#special-discount ~ .col-md-2 {
  margin-top: 1.5em;
} */

/* CSS Loader */
/* .lds-roller {
  display: inline-block;
  position: relative;
  width: calc(29% - 64px);
  height: 16px;
  transform: scale(0.5);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #333;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
