/* BASE */
body {
  background: #161616;
  font-family: futura-pt, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
  outline: 0;
}
h1 {
  color: #993333;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: #933;
  font-family: inherit;
  font-size: 2.7em;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 0.5em;
}
h2 {
  font-size: 32px;
}
h3.formhead {
  border-bottom: 1px solid #000;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
}
h3 {
  font-size: 20.5px;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  color: #424242;
  font-family: inherit;
  font-size: 1.2em;
  line-height: 25px;
  margin: 0 0 1em;
}

/* ACORN REBRANDING 2019-08-15 */
body {
  background: #053E3A;
}

@media (min-width: 768px) {
  body {
    padding-top: 75px;
  }
}
