@font-face {
  font-family: 'Futura PT Bold';
  src: url('font/FuturaPTBold.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Bold Oblique';
  src: url('font/FuturaPTBoldOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Extra Bold';
  src: url('font/FuturaPTCondExtraBold.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Extra Bold Oblique';
  src: url('font/FuturaPTCondExtraBoldOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Bold ';
  src: url('font/FuturaPTCondBold.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Bold Oblique';
  src: url('font/FuturaPTCondBoldOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Medium';
  src: url('font/FuturaPTMedium.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Medium Oblique';
  src: url('font/FuturaPTMediumOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('font/FuturaPTBook.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book Oblique';
  src: url('font/FuturaPTBookOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('font/FuturaPTCondBook.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Book Oblique';
  src: url('font/FuturaPTCondBookOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Medium';
  src: url('font/FuturaPTCondMedium.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Medium Oblique';
  src: url('font/FuturaPTCondMediumOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Futura PT Demi';
  src: url('font/FuturaPTDemi.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi Oblique';
  src: url('font/FuturaPTDemiOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra Bold';
  src: url('font/FuturaPTExtraBold.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra Bold Oblique';
  src: url('font/FuturaPTExtraBoldOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url('font/FuturaPTHeavy.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Heavy Oblique';
  src: url('font/FuturaPTHeavyOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Light';
  src: url('font/FuturaPTLight.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Light Oblique';
  src: url('font/FuturaPTLightOblique.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}
