/* LAYOUT */
.container {
  width: 96%;
  padding-left: 10px;
  padding-right: 10px;
  max-width: none;
}

@media all and (min-width: 1100px) {
  /* LAYOUT */
  .container {
    width: 92%;
  }
}

@media (min-width: 1450px) {
  /* LAYOUT */
  .container {
    width: 1350px;
  }
}
