<div class="row">
  <div class="order-item checkout">
    <div class="col-md-9">
      {{#if specialDiscount}}
        {{t "BLACK-FRIDAY-PROMO-CHECKOUT-2019"}}
      {{/if}}
    </div>

    <div class="col-md-3">
      <a class="btn btn-primary pull-right" href="#">
        {{t "CHECKOUT"}}
      </a>
    </div>
  </div>
</div>