<div id="checkout-section" class="row">
  <div class="order-item checkout">
    <div class="col-md-9">
      {{t "NO-RECURRING-CHARGES"}}

      {{#if discountRate}}
        {{t "BLACK-FRIDAY-PROMO-CHECKOUT-2019"}}
      {{/if}}
    </div>

    <div class="col-md-3">
      <a class="btn btn-primary pull-right" href="#">
        {{t "CHECKOUT"}}
      </a>
    </div>
  </div>
</div>