<div class="row">
  <div class="col-md-8 account-info">
    <h1>Account Info</h1>
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-10">{{ Customer.Name }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Email:</div>
      <div class="col-md-10">{{ Customer.Email }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Joined on:</div>
      <div class="col-md-10">{{ Customer.JoinDate }}</div>
    </div>
  </div>
</div>
<div class="row cancel-membership">
  <div class="col-md-8">
    <a href="#" class="href">Cancel Membership</a>
  </div>
</div>
