<label>
  <a class='promocode-toggle' href='#'>
    {{! <span class="glyphicon glyphicon-menu-down"></span> }}
    Promo Code
  </a>
</label>

<div id='promocode-field'>
  <div class='form-group'>
    <input
      type='text'
      class='form-control'
      name='promocode'
      id='promocode'
      value='TOMTEST50OFF'
    />
    <div class='buttons'>
      <button type='submit btn'>Apply</button>
    </div>
  </div>
</div>
