<label>
  <a class="promocode-toggle" href="#">
    {{! <span class="glyphicon glyphicon-menu-down"></span> }}
    {{t "PROMO-CODE"}}
  </a>
</label>

<div id="promocode-field">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="promocode"
      id="promocode"
      placeholder="Optional"
    />
    <div class="buttons">
      <button type="submit">{{t "APPLY"}}</button>
    </div>
  </div>
</div>
