<div class="billing store container">

  <div id="edit-billing-details" class="row"></div>

  <h3 class="formhead"></h3>

  <div id="edit-billing-information" class="row">
    <div class="col-md-8">

      <div class="form-wrap">

        <div id="signin-form-insert"></div>

        <form class="form-trial-signup form-processing">

          <div id="appliedCodeContainer"></div>

          <div id="billingAddressContainer"></div>

          <div id="billingEmailContainer"></div>

          <div id="paymentMethodContainer"></div>

          <div id="legalContainer"></div>

          <div id="checkoutContainer"></div>

        </form>

      </div>

    </div>

    <div class="col-md-4">
      <div id="billingFAQ"></div>
    </div>

  </div>
</div>