/* NAVTABS */
.nav-tools {
  border-radius: 8px;
  padding: 0 10px;
  background: #c2c2c2;
  margin: 0;
  margin: 0;
  a {
    font-weight: 700;
  }
  li {
    width: 33.333%;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
  }
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding: 15px 10px;
}
.nav-stacked > li {
  background: #f0f0f0 none repeat scroll 0 0;
}
.nav-stacked > li + li {
  border-top: medium none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 2px;
  padding: 0;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding: 9px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: rgba(129, 12, 12, 0.9) none repeat scroll 0 0;
  color: #fff;
  border: none;
}
.nav-tabs > li > a {
  border: none;
  border-radius: 0;
  line-height: 2.5rem;
  margin-right: 0px;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222;
  display: block;
  font-size: 1.25rem;
  /* letter-spacing: 1px; */
  padding: 9px 18px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: #e0e0e0;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    transition: 0.4s ease;
  }
}
#accountStatusNav {
  border-top: none;
  padding: 0px;
  margin-bottom: 0px;
}

/* ACORN REBRANDING 2019-08-15 */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #053E3A;
}
.nav-tabs > li > a:hover {
  background: #008989;
}

@media (min-width: 768px) {
  /* NAVTABS */
  .nav-tabs > li > a {
    border: none;
    font-size: 1.1rem;
  }
  .account-nav {
    max-width: 92.5%;
  }
}
