<div class="order-item checkout">
  <div class="checkout-content">
    <p>
      {{{t "MONTHLY-MEMBERSHIPS"}}}
    </p>
    <p>
      {{t "MEMBERSHIP-TERMS"}}
    </p>
  </div>

  <div class="checkout-btn">
    <a class="btn btn-primary pull-right" href="#">
      {{t "CHECKOUT"}}
    </a>
  </div>
</div>