.fa {
    color: #993333;
}
#backToSignup {
    font-size: 15.5px;
    margin: 0 0 10px;
    font-weight: 400;
    color: #993333;
    text-decoration: none;
    letter-spacing: .03em;
}

button.btn {
    display: inline-block;
    font-size: 14px;
}