<div class="copyright">
{{!log this level="error"}}
  <p>&copy; {{ currentYear }} RLJ Entertainment, Inc. All Rights Reserved</p>
</div>
<div class="terms-condition">
  <ul>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/terms/acorn/en.html">
      Terms and Conditions </a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/privacy/acorn/en.html">
      Privacy Policy </a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/cookie-policy/acorn/en.html">
      Cookie Policy</a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/caption-policy/en.html">
      Captioning Policy</a>
    </li>
  </ul>
</div>

<div class="lang-select">
  <label class="atv-locale" for="atvLocale">language:</label>
  <select name="atv_locale" id="atvLocale">
    {{#each languages}}
    {{{option @key ../currentLanguage this}}}
    {{/each}}
  </select>
</div>
