<div id="annual-plan" class="row">
  {{!log this level="error"}}
  <div class="col-md-8">
    <h1 class="formhead">{{t "PLANS"}}</h1>
  </div>
  <div class="col-md-8">
    <p>
      {{ annualPlanMessage }}<br />
      {{{tagline}}}
    </p>
  </div>
</div>
{{!-- <div class="row">
  <div class="col-md-8">
    <a href="#" class="switch-to-monthly">
      {{t "SWITCH-TO-MONTHLY-PRICE"}}
    </a>
  </div>
</div> --}}
