<div class="row-fluid">
  {{!log this level="error"}}
  <div class="col-md-8">
    {{#if PaymentMethod.Canceled}}

      <div class="field-wrap clearfix">
        <div class="field-label pull-left">PAYMENT-METHOD</div>
        <div id="paymentMethodField" class="field-value pull-left">
          CARD-NOT-CHARGED
        </div>
      </div>

    {{else}}

      <div style="display: none">
        {{PaymentMethod.Store}}
      </div>

      {{#if PaymentMethod.Store}}

        <p>FREE-SEVEN-DAYS</p>
        <p>SIGNUP-FULL-MEMBERSHIP</p>
      {{else}}
        {{#if PaymentMethod.webPaymentEdit}}

          <div class="field-wrap clearfix">
            <div class="field-label pull-left">Payment Method</div>
            <div id="paymentMethodField" class="field-value pull-left">
              <atv:il8n var="FREE-SEVEN-DAYS-DEVICE"></atv:il8n>
              <atv:il8n var="PLEASE-LOG-IN"></atv:il8n>
              {{PaymentMethod.Device}}
              <atv:il8n var="MANAGE-BILLING"></atv:il8n>
            </div>
          </div>

        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
