<div
  id="signInModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="signInModal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >&times;</button>
        <h3 id="confirm-cancel-label">{{t "SIGN-IN-INFORMATION"}}</h3>
      </div>
      <div class="modal-body">
        <h4 id="SignInStatus"></h4>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary btn-confirmation"
          data-dismiss="modal"
        >{{t "OKAY"}}</button>
      </div>
    </div>
  </div>
</div>