/* Futura PT */
@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTLight.otf"), format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTLightOblique.otf"), format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTBook.otf"), format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTBookOblique.otf"), format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTMedium.otf"), format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTMediumOblique.otf"), format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTDemi.otf"), format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTDemiOblique.otf"), format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTHeavy.otf"), format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTHeavyOblique.otf"), format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTExtraBold.otf"), format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: futura-pt, sans-serif;
  src: url("../fonts/FuturaPTExtraBoldOblique.otf"), format("opentype");
  font-weight: 800;
  font-style: italic;
}

/* Futura PT Condensed */
@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondBook.otf"), format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondBookOblique.otf"), format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondMedium.otf"), format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondMediumOblique.otf"), format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondBold.otf"), format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondBoldOblique.otf"), format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondExtraBold.otf"), format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: futura-pt-condensed, sans-serif;
  src: url("../fonts/FuturaPTCondExtraBoldOblique.otf"), format("opentype");
  font-weight: 800;
  font-style: italic;
}

/* Futura PT Bold */
@font-face {
  font-family: futura-pt-bold, sans-serif;
  src: url("../fonts/FuturaPTBold.otf"), format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: futura-pt-bold, sans-serif;
  src: url("../fonts/FuturaPTBoldOblique.otf"), format("opentype");
  font-weight: 700;
  font-style: italic;
}
